* {
  margin: 0px;
  padding: 0px;
  font-family: "Mulish";
}

body {
  background: #fbf9f9;
  width: 1200px;
}

header {
  display: display flex, justify-content space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  font: 900 30px "Mulish";
  color: #224380;
}

nav {
  display: display flex, justify-content space-between;
}

p {
  font: 700 16px "Mulish";
  color: #224380;
}

p:hover {
  text-decoration: underline;
  color: #FFFFFF;
}

p:not(:last-child) {
  margin-right: 35px;
}

.btn-start {
  width: 147px;
  border-radius: 33px;
  text-align: center;
  padding: 15px 0;
  background: linear-gradient(44.11deg, #8FBBE5 15.75%, #3D75BF 84.63%);
  font: 700 16px "Mulish";
  font: #224380;
}

.one {
  display: display flex, justify-content space-between;
}

.video {
  width: 590px;
  height: 360px;
  position: relative;
  left: 600px;
  bottom: 120px;
}

.Rectangle {
  background-image: url(./img/Rectangle.svg);
  width: 590px;
  height: 360px;
  background-repeat: no-repeat;
}

.Oval {
  background-image: url(./img/Oval.svg);
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  position: absolute;
  top: 160px;
  left: 270px;
}

.Triangle {
  background-image: url(./img/Triangle.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 14px;
  height: 23px;
  position: absolute;
  top: 180px;
  left: 300px;
}