* {
  margin: 0;
  padding: 0;
  font-family: "Mulish";
  font-style: normal;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  font: 900 30px "Mulish";
  color: #224380;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

p {
  font: 700 16px "Mulish";
  color: #224380;
}

p:hover {
  text-decoration: underline;
  color: #FFFFFF;
}

p:not(:last-child) {
  margin-right: 35px;
}

.btn-start {
  width: 147px;
  border-radius: 33px;
  text-align: center;
  padding: 15px 0;
  background: linear-gradient(44.11deg, #8FBBE5 15.75%, #3D75BF 84.63%);
  font: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font: #224380;
}