$color-font-dark-blue: #224380;
$color-font-whait: #FFFFFF;

%display {
    display: flex;
    justify-content: space-between;
}

%btn-start {
    width: 147px;
    border-radius: 33px;
    text-align: center;
    padding: 15px 0;
    background: linear-gradient(44.11deg, #8FBBE5 15.75%, #3D75BF 84.63%);
    font: 700 20px 'Mulish';
    font: $color-font-dark-blue;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish';
}

body {
    margin: auto;
    background: #fbf9f9;
    width: 1440px;
}

header {
    @extend %display;
    align-items: center;

    h1 {
        font: 900 30px 'Montserrat';
        color: $color-font-dark-blue;
    }

    nav {
        @extend %display;
    }

    p {
        font: 400 20px 'Mulish';
        color: $color-font-dark-blue
    }

    p:hover {
        text-decoration: underline;
        color: black;
    }

    p:not(:last-child) {
        margin-right: 35px;
    }

    .btn {
        @extend %btn-start;
    }
}

.one {
    @extend %display;
    margin-top: 100px;

    h1 {
        font: 700 60px 'Montserrat';
        color: $color-font-dark-blue;
    }


    p {
        font: 400 20px 'Mulish';
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .video {
        width: 580px;
        height: 380px;
        background-image: url(./img/Group\ 7.svg);
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        left: 120px;
    }

    .btn {
        @extend %btn-start;
    }

}

.two {
    @extend %display;
    margin-top: 20px;
    position: relative;

    .Oval {
        background-image: url(./img/Side\ Shape.svg);
        width: 358px;
        height: 288px;
        background-repeat: no-repeat;
        position: absolute;
        left: -47px;
        top: 33px;
    }

    .text {
        @extend %display;
        width: 1120px;
        height: 172px;
        background: #FFFFFF;
        border: 1px solid #E7EAEB;
        border-radius: 21px;
        margin: auto;
        position: relative;
        z-index: 1;

        div {
            position: relative;
            top: 50px;
            height: 90px;
            width: 390px;
            text-align: center;

            h2 {
                font: 700 40px 'Montserrat';
            }
        }

        div:not(:last-child) {
            border-right: 1px solid #5c5e5f;
        }
    }

}


.three {
    margin-top: 120px;
    text-align: center;

    h1 {
        font: 700 46px 'Montserrat';
        color: $color-font-dark-blue;
    }

    p {
        font: 400 20px 'Mulish';
        color: $color-font-dark-blue
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 61px;

        .inf {
            @extend %display;
            width: 1120px;
            text-align: left;
            background: linear-gradient(44.11deg, #fdfeff 15.75%, #e7ebf2 84.63%);
            border-radius: 21px;
            margin-top: 30px;
            margin: auto;

            .benefits {
                @extend %display;

                .img {
                    background-image: url(./img/Group\ 8.svg);
                    width: 144px;
                    height: 64px;
                    background-repeat: no-repeat;
                    margin-left: 10px;
                }

                h3 {
                    font: 700 24px 'Montserrat';
                    color: $color-font-dark-blue;
                    margin-bottom: 30px;
                }

                p {
                    font: 400 16px 'Mulish';
                    color: $color-font-dark-blue
                }
            }
        }

        .inf:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}